streamlit
google-generativeai
faiss-cpu
sentence-transformers
langchain
langchain-community
langchain-google-genai
wikipedia-api
yfinance
pandas
numpy
requests
beautifulsoup4
scikit-learn
huggingface-hub
